## Week 11a: SQLite database

In [2]:
##SQLite is a C-language library that implements a small, fast, self-contained, high-reliability, 
#full-featured, SQL database engine. SQLite is the most used database engine in the world. SQLite is built into all mobile phones and most computers and comes 
#bundled inside countless other applications that people use every day. More Information...
import sqlite3
import csv

#### Establish a connection

In [3]:
#con = sqlite3.connect('School.db', autocommit=False)
#autocommit is in new python version
conn = sqlite3.connect('School.db')
cursor = conn.cursor()

#### Create a table

In [5]:
create_table = """CREATE TABLE students(
                        id INTEGER PRIMARY KEY,
                        fname TEXT,
                        lname TEXT);
                """

cursor.execute(create_table)

#### Insert data

In [ ]:
cursor.execute("INSERT INTO students VALUES (387423, 'Patrick', 'Ramos')")

#### Query the table

In [ ]:
results = cursor.execute("SELECT * FROM students")
print(type(results))
for res in results:
    print(res)

In [ ]:
results = cursor.execute("SELECT * FROM students").fetchall()
results

#### Close the connection

In [ ]:
con.commit()
con.close()

In [ ]:
for res in results:
    print(res)

In [ ]:
results = cursor.execute("SELECT * FROM students").fetchall()
results

#### Reestablish connection

In [10]:
new_con = sqlite3.Connection('School.db')#, autocommit=False)
new_cursor = new_con.cursor()

In [11]:
results = new_cursor.execute("SELECT * FROM students").fetchall()
results

[(211134, 'Samantha', 'Peterson'),
 (264676, 'Margaret', 'Brooks'),
 (387423, 'Patrick', 'Ramos'),
 (399844, 'Pamela', 'Campbell'),
 (518833, 'Judith', 'Mendoza'),
 (657953, 'Walter', 'King'),
 (660198, 'Justin', 'Kelly'),
 (669408, 'Victoria', 'Lee'),
 (705400, 'Betty', 'Murphy'),
 (962205, 'Emily', 'Reed')]

In [12]:
new_con.close()

#### Redo with `commit`

In [ ]:
conn.commit()

#### Check if something is in process

In [ ]:
con.in_transaction

In [ ]:
con.total_changes

#### Insert data from csv

In [7]:
##connecting
conn = sqlite3.connect('School.db')
conn
cursor = conn.cursor()

[(211134, 'Samantha', 'Peterson'),
 (264676, 'Margaret', 'Brooks'),
 (387423, 'Patrick', 'Ramos'),
 (399844, 'Pamela', 'Campbell'),
 (518833, 'Judith', 'Mendoza'),
 (657953, 'Walter', 'King'),
 (660198, 'Justin', 'Kelly'),
 (669408, 'Victoria', 'Lee'),
 (705400, 'Betty', 'Murphy'),
 (962205, 'Emily', 'Reed')]

In [ ]:
#fetching data
results =cursor.execute('select *from students').fetchall()
results

In [ ]:
with open("students_1.csv") as f:
    data = csv.reader(f)
    for row in data:
        print(row)

In [ ]:
with open("students_1.csv") as f:
    data = csv.reader(f)
    for row in data:
        if row[0]=='fname':
            continue
        print(row)

In [6]:
##inserting data
with open("students_1.csv") as f:
    data = csv.reader(f)
    for row in data:
        if row[0]=='fname':
            continue
        cursor.execute("INSERT INTO students VALUES (?,?,?)", (row[2], row[0], row[1]))

In [13]:
##closing
conn.commit()
conn.close()
new_con.close()

ProgrammingError: Cannot operate on a closed database.

In [ ]:
# ##comment/uncomment - control + / (forward slash)
# with open("students_1.csv") as f:
#     data = csv.reader(f)
#     for row in data:
#         # if row[0]=='fname':
#         #     continue
#         # cursor.execute("INSERT INTO students VALUES (?, ?, ?)", (int(row[2]), row[0], row[1]))

In [ ]:
drop_table = """DROP TABLE students"""
cursor.execute(drop_table)
#con.commit()

#### Delete database

### Exercises

 - recreate the database called `School` with a table called `students`; add the `students_1.csv` data back into the table
 - add the students in the `students_2.csv` file to the `students` table in the database
 - in the `School` database, create a new table called `marks` and add the data in the `marks.csv`file to it

In [34]:
import sqlite3
import csv

In [35]:
conn=sqlite3.connect('School.db')
cursor=conn.cursor()

In [36]:
create_table=""" CREATE TABLE students(
                 id INTEGER PRIMARY KEY,
                 fname TEXT,
                 lname TEXT)
             """

cursor.execute(create_table)

In [37]:
cursor.execute('select *from students').fetchall()

[]

In [38]:
filename='students_1.csv'

In [42]:
with open(filename) as f:
    data = csv.reader(f)
    for row in data:
        print(row)
        if row[0]=='fname':
            continue
        cursor.execute("""INSERT INTO STUDENTS(id,fname,lname) VALUES(?,?,?)""",(row[2],row[0],row[1]))

['fname', 'lname', 'ID']
['Patrick', 'Ramos', '387423']
['Walter', 'King', '657953']
['Margaret', 'Brooks', '264676']
['Betty', 'Murphy', '705400']
['Pamela', 'Campbell', '399844']
['Victoria', 'Lee', '669408']
['Samantha', 'Peterson', '211134']
['Judith', 'Mendoza', '518833']
['Emily', 'Reed', '962205']
['Justin', 'Kelly', '660198']

In [43]:
cursor.execute('select *from students').fetchall()

[(211134, 'Samantha', 'Peterson'),
 (264676, 'Margaret', 'Brooks'),
 (387423, 'Patrick', 'Ramos'),
 (399844, 'Pamela', 'Campbell'),
 (518833, 'Judith', 'Mendoza'),
 (657953, 'Walter', 'King'),
 (660198, 'Justin', 'Kelly'),
 (669408, 'Victoria', 'Lee'),
 (705400, 'Betty', 'Murphy'),
 (962205, 'Emily', 'Reed')]

In [44]:
conn.commit()

In [45]:
cursor.execute('select *from students').fetchall()

[(211134, 'Samantha', 'Peterson'),
 (264676, 'Margaret', 'Brooks'),
 (387423, 'Patrick', 'Ramos'),
 (399844, 'Pamela', 'Campbell'),
 (518833, 'Judith', 'Mendoza'),
 (657953, 'Walter', 'King'),
 (660198, 'Justin', 'Kelly'),
 (669408, 'Victoria', 'Lee'),
 (705400, 'Betty', 'Murphy'),
 (962205, 'Emily', 'Reed')]

In [49]:
filename2 ="students_2.csv"
with open(filename2) as f:
    data =csv.reader(f)
    for row in data:
        if row[0]=='fname':
            continue
        print(row)
        cursor.execute("INSERT into students(id, fname, lname) VALUES(?,?,?)",(row[2],row[0],row[1]))

['Randy', 'Martinez', '122942']
['Russell', 'Williams', '223293']
['Deborah', 'Nguyen', '329265']
['Eugene', 'Hill', '174267']
['John', 'Nguyen', '650755']
['Tyler', 'Taylor', '380016']
['Catherine', 'Cox', '677895']
['Matthew', 'Collins', '253798']
['Billy', 'Ortiz', '400412']
['Gary', 'Patel', '784736']

In [50]:
cursor.execute("SELECT *from students").fetchall()

[(122942, 'Randy', 'Martinez'),
 (174267, 'Eugene', 'Hill'),
 (211134, 'Samantha', 'Peterson'),
 (223293, 'Russell', 'Williams'),
 (253798, 'Matthew', 'Collins'),
 (264676, 'Margaret', 'Brooks'),
 (329265, 'Deborah', 'Nguyen'),
 (380016, 'Tyler', 'Taylor'),
 (387423, 'Patrick', 'Ramos'),
 (399844, 'Pamela', 'Campbell'),
 (400412, 'Billy', 'Ortiz'),
 (518833, 'Judith', 'Mendoza'),
 (650755, 'John', 'Nguyen'),
 (657953, 'Walter', 'King'),
 (660198, 'Justin', 'Kelly'),
 (669408, 'Victoria', 'Lee'),
 (677895, 'Catherine', 'Cox'),
 (705400, 'Betty', 'Murphy'),
 (784736, 'Gary', 'Patel'),
 (962205, 'Emily', 'Reed')]

In [51]:
conn.commit()
conn.close()

In [ ]:
## Add marks table

In [60]:
conn= sqlite3.connect('School.db')
cursor=conn.cursor()

In [62]:
cursor.execute(""" CREATE TABLE marks (
                    id INTEGER PRIMARY KEY,
                    test_1 INTEGER,
                    test_2 INTEGER,
                    test_3 INTEGER
                    )
                """ )

In [66]:
filename3 = 'marks.csv'
with open(filename3) as f:
    data =csv.reader(f)
    for row in data:
        if row[0]=='ID':
            continue
        cursor.execute("INSERT into marks (id, test_1,test_2,test_3) VALUES (?,?,?,?)", (row[0],row[1],row[2],row[3]))

In [67]:
cursor.execute("SELECT *from marks").fetchall()

[(122942, 58, 86, 77),
 (174267, 95, 47, 79),
 (211134, 80, 81, 55),
 (223293, 75, 53, 60),
 (253798, 17, 88, 16),
 (264676, 26, 53, 58),
 (329265, 91, 47, 42),
 (380016, 1, 62, 61),
 (387423, 31, 65, 76),
 (399844, 3, 27, 80),
 (400412, 87, 39, 86),
 (518833, 32, 35, 29),
 (650755, 76, 84, 22),
 (657953, 38, 10, 75),
 (660198, 69, 17, 12),
 (669408, 4, 88, 90),
 (677895, 20, 57, 89),
 (705400, 12, 40, 69),
 (784736, 8, 30, 74),
 (962205, 58, 39, 74)]

In [69]:
conn.commit()

In [70]:
cursor.close()
conn.close()

In [85]:
filename3 = 'marks.csv'
with open(filename3) as f:
    data =csv.reader(f)
    for row in data:
        print(type(row))
        print(row[1])
        break

<class 'list'>
Test_1

In [98]:
conn= sqlite3.connect('School.db')
cursor=conn.cursor()

In [99]:
cursor.execute("Select *from marks").fetchall()

[(122942, 58, 86, 77),
 (174267, 95, 47, 79),
 (211134, 80, 81, 55),
 (223293, 75, 53, 60),
 (253798, 17, 88, 16),
 (264676, 26, 53, 58),
 (329265, 91, 47, 42),
 (380016, 1, 62, 61),
 (387423, 31, 65, 76),
 (399844, 3, 27, 80),
 (400412, 87, 39, 86),
 (518833, 32, 35, 29),
 (650755, 76, 84, 22),
 (657953, 38, 10, 75),
 (660198, 69, 17, 12),
 (669408, 4, 88, 90),
 (677895, 20, 57, 89),
 (705400, 12, 40, 69),
 (784736, 8, 30, 74),
 (962205, 58, 39, 74)]

In [100]:
cursor.execute("INSERT into marks (id, test_1,test_2,test_3) VALUES (?,?,?,?)", (123456,12,23,34))

OperationalError: database is locked

In [101]:
conn.rollback()
cursor.close()
conn.close()

In [102]:
conn= sqlite3.connect('School.db')
cursor=conn.cursor()

In [103]:
cursor.execute("Select *from marks").fetchall()

[(122942, 58, 86, 77),
 (174267, 95, 47, 79),
 (211134, 80, 81, 55),
 (223293, 75, 53, 60),
 (253798, 17, 88, 16),
 (264676, 26, 53, 58),
 (329265, 91, 47, 42),
 (380016, 1, 62, 61),
 (387423, 31, 65, 76),
 (399844, 3, 27, 80),
 (400412, 87, 39, 86),
 (518833, 32, 35, 29),
 (650755, 76, 84, 22),
 (657953, 38, 10, 75),
 (660198, 69, 17, 12),
 (669408, 4, 88, 90),
 (677895, 20, 57, 89),
 (705400, 12, 40, 69),
 (784736, 8, 30, 74),
 (962205, 58, 39, 74)]

In [107]:
cursor.execute("INSERT into marks (id, test_1,test_2,test_3) VALUES (?,?,?,?)", (123456,12,23,34))

OperationalError: database is locked

In [106]:
conn.rollback()

In [108]:
conn.in_transaction()

TypeError: 'bool' object is not callable